@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    /* this section is used to remove the default margins from chrome */
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-family: 'Inter', sans-serif;
}